.container {
    width: 300px;
    height: 300px;
    background-color: black;
    border-bottom: 1px solid white;
    
  }
  
  .div1 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }
  
  .div2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example2;
    animation-duration: 4s;	
    animation-iteration-count: 1;
    /* animation-direction: reverse;   */
    animation-timing-function: ease-in-out;
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:green; left:0px; top:200px;}
    75%  {background-color:blue; left:200px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  
  @keyframes example2 {
    0%   {background-color:green; left:0px; top:0px;}
    25%  {background-color:blue; left:200px; top:0px;}
    50%  {background-color:yellow; left:200px; top:200px;}
    75%  {background-color:red; left:0px; top:200px;}
    100% {background-color:green; left:0px; top:0px;}
  }